* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}


/* HERO SECTION */
#bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/landingpage.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: -1000;
}



#nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  z-index: 1000;
}

#nav_bar ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

#nav_bar ul li {
  list-style: none;

}


li img {
  filter: invert();
}


#nav_bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

#nav_bar ul li a:hover {
  color: #F06D82;
}

.navbar-toggler {
  display: none;
}

#btn1 {
  border: 1px solid #F06D82;
  border-radius: 10px;
  padding: 5px 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.007);
  font-size: 20px;


}

#btn2 {
  border: 1px solid #F06D82;
  border-radius: 10px;
  padding: 5px 25px;
  color: white;
  background-color: #F06D82;
  font-size: 20px;
}

#content {
  margin-top: 120px;
}

#content h1 {
  text-align: center;
  font-size: 54px;
  font-weight: 600px;
  color: #ffffff;
}

#content h2 {
  font-size: 54px;
  font-weight: 600px;
  color: #ffffff;
  margin-left: 80px;

}

.menu-bar {
  display: none;
}

span {
  color: #F06D82;
  font-size: 58px;
  font-weight: 600;
}

.btn-a {
  border: 1px solid #F06D82;
  border-radius: 24px;
  padding: 5px 50px;
  color: white;
  background-color: #F06D82;
  font-size: 20px;
  margin-right: 20px;
}

.button-container {
  text-align: center;
  gap: 20px;
}

.btn-b {
  border: 1px solid #F06D82;
  border-radius: 24px;
  padding: 5px 25px;
  color: white;
  background-color: #F06D82;
  font-size: 20px;
}

/* BROWSE GENRE */

#section1 {
  padding: 20px 100px;

}

.card {
  width: 24%;
}

.card-img-overlay {
  margin-top: 30%;
}

h5 {
  background-color: rgba(0, 0, 0, 0.507);
}

#cards {
  row-gap: 50px;
  column-gap: 15px;
}

#card-border {
  border: none;
  height: 200px;
  overflow: hidden;
  box-shadow: 2px 4px 7px #333;
}


/* NEW RELEASE */
#section2 {
  padding: 50px 100px;
}


span a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}


.books {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.books::-webkit-scrollbar {
  display: none;
}

#book {
  padding: 0px 30px;
}

.book-image img {
  width: 160px;
  height: 250px;
  margin: 0px 10px;
}

#book h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

/* BEST SELLERS */

#section3 {
  padding: 50px 100px;
}


span a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
}


.books-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.book2-image img {
  width: 160px;
  height: 250px;
  margin: 0px 30px;
}

#book2 h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

/* --SHOP ON THE GO */

.Section4 {
  display: flex;
  background-color: #F06D82;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}

.text {
  width: 200%;
  color: white;
}

.text h6 {
  font-size: 48px;
  font-weight: 600;
}

.shop-image {
  width: 100%;
}

/* BOOKSTORE */

#section5 {
  padding: 50px 140px;
}

.bookstores {
  display: flex;
  gap: 20px;
}

.store-image img {
  width: 160px;
  height: 250px;
  margin: 0px 10px;
}

#bookstore {
  background-color: #f4f3f3;
  padding: 15px 30px;
}

#bookstore h4 {
  font-size: 20px;
  font-weight: 600;
}

#bookstore p,
h6 {
  font-size: 17px;
  font-weight: 400;
  line-height: 2;
}

#bookstore a {
  text-decoration: none;
  margin-left: 30%;
  font-size: 20px;
  font-weight: 500;
}

/* FOOTER */

.footer {
  background-color: #1D1213;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  padding: 30px 150px;
}

.btn3 {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.007);
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.btn4 {
  border: 1px solid #F06D82;
  border-radius: 10px;
  padding: 5px 25px;
  color: white;
  background-color: #F06D82;
  font-size: 20px;
  cursor: pointer;
}

.side1 h3 {
  text-align: start;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: start;
}

.side1 ul li {
  list-style: none;
  justify-content: space-between;
}

.side1 a {
  text-decoration: none;
  color: white;
}

.side1 img {
  width: 45%;
}

.foot {
  padding: 20px 220px;
  display: flex;
  justify-content: space-between;
}

.foot p {
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.foot img {
  width: 9%;
}


/* RWD */

@media screen and (max-width:480px) {

  #bg-image {
    height: 100vh;
  }

  .navbar-toggler {
    display: block;
  }

  #nav_bar {
    padding: 15px 20px;
    background: transparent;
  }

  #navbarSupportedContent {
    position: absolute;
    background: rgb(187, 158, 158);
    top: 60px;
    right: 10px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 10px 20px;
  }

  .navbar-toggler span {
    width: 20px;
    height: 20px;
  }

  #nav_bar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    margin: 0;
    padding: 0;
  }

  #nav_bar ul li {
    list-style: none;
  }

  #nav_bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }

  #content {
    margin-top: 0px;
  }

  #content h1 {
    text-align: center;
    font-size: 12px;
    font-weight: 600px;
    color: #ffffff;
  }

  #content h2 {
    font-size: 10px;
    font-weight: 600px;
    color: #ffffff;
    margin-left: 8px;
    text-align: center;

  }

  span {
    color: #F06D82;
    font-size: 24px;
    font-weight: 600;
  }

  .btn-a {
    border: 1px solid #F06D82;
    border-radius: 24px;
    padding: 5px 40px;
    color: white;
    background-color: #F06D82;
    font-size: 14px;
    margin: 10px;
  }

  .button-container {
    text-align: center;
    padding: 10px;
  }

  .btn-b {
    border: 1px solid #F06D82;
    border-radius: 24px;
    padding: 5px 10px;
    color: white;
    background-color: #F06D82;
    font-size: 14px;
  }


  #section1 {
    padding: 30px 20px;
  }

  #section1 h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  .card {
    width: 45%;
  }

  .card-title {
    font-size: 13px;
    font-weight: 600;
  }

  #card-border {
    height: 140px;
  }

  #section2 {
    padding: 30px 10px;
  }

  #section2 h2 {
    font-size: 22px;
    font-weight: 600;
  }

  span a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
  }

  .books {
    display: flex;
    gap: 0px;
    overflow-x: scroll;
  }

  #book {
    padding: 0px 10px;
  }

  .book-image img {
    width: 100px;
    height: 180px;
    margin: 0px 10px;
  }

  #book h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  #section3 {
    padding: 30px 10px;

  }

  #section3 h2 {
    font-size: 22px;
    font-weight: 600;
  }

  span a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
  }


  .books-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


  .book2-image img {
    width: 110px;
    height: 160px;
    margin: 0px 5px;
  }

  #book2 h4 {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
  }

  .Section4 {
    flex-wrap: wrap;
    background-color: #F06D82;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 30px 30px;
    gap: 10px;

  }

  .text {
    width: 100%;
    color: white;
    order: 2;
  }

  .text h6 {
    font-size: 26px;
    font-weight: 600;
  }

  .Section4 img {
    width: 40%;
    order: 1;
  }

  #section5 {
    padding: 30px 10px;
  }

  #section5 h2 {
    font-size: 22px;
    font-weight: 600;
  }

  span a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
  }

  .bookstores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;

  }

  .store-image img {
    width: 100%;
    height: 170px;
    margin: 0px 0px;
  }

  #bookstore {
    background-color: #f4f3f3;
    padding: 5px 5px;
  }

  #bookstore h4 {
    font-size: 12px;
    font-weight: 600;
  }

  #bookstore p,
  h6 {
    font-size: 10px;
    font-weight: 400;
    line-height: 2;
  }

  #bookstore h6 {
    font-size: 10px;
    font-weight: 400;
  }

  #bookstore a {
    text-decoration: none;
    margin-left: 30%;
    font-size: 15px;
    font-weight: 500;
  }

  .footer-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 30px 5px;
  }

  .side1:nth-child(1) {
    order: 2;
    justify-content: center;
    margin: 20px;
  }

  .side1 {
    order: 1;
  }

  .btn3 {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.007);
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
  }

  .btn4 {
    border: 1px solid #F06D82;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    background-color: #F06D82;
    font-size: 16px;
    cursor: pointer;
  }

  .side1 h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
  }

  .side1 ul li a {
    list-style: none;
    font-size: 12px;
    font-weight: 400;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  .side1 a {
    text-decoration: none;
    color: white;
  }

  .side1 img {
    width: 25%;
  }

  .foot {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .foot p {
    font-size: 12px;
    font-weight: 400;
    color: white;
  }

  .foot img {
    width: 9%;
  }

}

/* ----Medium screen */

@media (min-width:481px) and (max-width:768px) {

  #bg-image {
    height: 100vh;
  }

  .navbar-toggler {
    display: block;
  }

  #nav_bar {
    padding: 15px 20px;
    background: transparent;
  }

  #navbarSupportedContent {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 15px 20px;
  }

  #nav_bar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    margin: 0;
    padding: 0;
  }

  .navbar-toggler span {
    width: 30px;
    height: 30px;
  }

  #nav_bar ul li {
    list-style: none;
  }

  #nav_bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }

  #content h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600px;
    color: #ffffff;
  }

  #content h2 {
    font-size: 16px;
    font-weight: 600px;
    color: #ffffff;
    margin-left: 10px;
    text-align: center;

  }

  span {
    color: #F06D82;
    font-size: 28px;
    font-weight: 600;
  }

  .btn-a {
    border: 1px solid #F06D82;
    border-radius: 24px;
    padding: 5px 40px;
    color: white;
    background-color: #F06D82;
    font-size: 15px;
    margin: 10px;
  }

  .button-container {
    text-align: center;
    padding: 30px;
  }

  .btn-b {
    border: 1px solid #F06D82;
    border-radius: 24px;
    padding: 5px 10px;
    color: white;
    background-color: #F06D82;
    font-size: 15px;
  }



  #section1 {
    padding: 10px 20px;
  }

  #section1 h2 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  .card {
    width: 47%;
  }

  .card-title {
    font-size: 15px;
    font-weight: 600;
  }

  #card-border {
    height: 180px;
  }

  #section2 {
    padding: 30px 10px;
  }

  #section2 h2 {
    font-size: 26px;
    font-weight: 600;
  }

  span a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
  }

  .books {
    display: flex;
    gap: 0px;
    overflow-x: scroll;
  }

  #book {
    padding: 0px 10px;
  }

  .book-image img {
    width: 100px;
    height: 180px;
    margin: 0px 10px;
  }

  #book h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  #section3 {
    padding: 30px 10px;

  }

  #section3 h2 {
    font-size: 26px;
    font-weight: 600;
  }

  span a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
  }


  .books-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .book2-image img {
    width: 100px;
    height: 180px;
    margin: 0px 10px;
  }

  #book2 h4 {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }


  .Section4 {
    flex-wrap: wrap;
    background-color: #F06D82;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 30px 30px;
    gap: 10px;

  }

  .text {
    width: 100%;
    color: white;
    order: 2;
  }

  .text h6 {
    font-size: 26px;
    font-weight: 600;
  }

  .Section4 img {
    width: 40%;
    order: 1;
  }

  #section5 {
    padding: 30px 10px;
  }

  #section5 h2 {
    font-size: 26px;
    font-weight: 600;
  }

  span a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
  }

  .bookstores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

  }

  .store-image img {
    width: 120px;
    height: 250px;
    margin: 0px 0px;
  }

  #bookstore {
    background-color: #f4f3f3;
    padding: 20px 20px;
  }

  #bookstore h4 {
    font-size: 12px;
    font-weight: 600;
  }

  #bookstore p,
  h6 {
    font-size: 10px;
    font-weight: 400;
    line-height: 2;
  }

  #bookstore h6 {
    font-size: 10px;
    font-weight: 600;
  }

  #bookstore a {
    text-decoration: none;
    margin-left: 30%;
    font-size: 15px;
    font-weight: 500;
  }

  .footer-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px 10px;
    line-height: 1.5;
  }

  .side1 h4 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
  }

  .side1 ul li a {
    list-style: none;
    font-size: 12px;
    font-weight: 400;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  .side1 a {
    text-decoration: none;
    color: white;
  }

  .side1 img {
    width: 30%;
  }

  .foot {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .foot p {
    font-size: 12px;
    font-weight: 400;
    color: white;
  }

  .foot img {
    width: 9%;
  }
}

@media (min-width:769px) and (max-width:997px) {
  .navbar-toggler {
    display: block;
  }

  #nav_bar {
    padding: 15px 20px;
    background: transparent;
  }

  #navbarSupportedContent {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 10px 20px;
  }

  #nav_bar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    margin: 0;
    padding: 0;
  }

  #nav_bar ul li {
    list-style: none;
  }

  #nav_bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }


  #nav_bar ul li a:hover {
    color: #F06D82;
  }
}

#content h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 36px;
  font-weight: 600px;
  color: #ffffff;
}

#content h2 {
  font-size: 26px;
  font-weight: 600px;
  color: #ffffff;
  margin-left: 10px;
  text-align: center;

}

@media (min-width:769px) and (max-width:1279px) {

  #bg-image {
    height: 100vh;
  }



  span {
    color: #F06D82;
    font-size: 36px;
    font-weight: 600;
  }

  .btn-a {
    border: 1px solid #F06D82;
    border-radius: 24px;
    padding: 5px 50px;
    color: white;
    background-color: #F06D82;
    font-size: 15px;
    margin: 10px;
  }

  .button-container {
    text-align: center;
    padding: 30px;
  }

  .btn-b {
    border: 1px solid #F06D82;
    border-radius: 24px;
    padding: 5px 25px;
    color: white;
    background-color: #F06D82;
    font-size: 15px;
  }

  #section1 {
    padding: 30px 10px;
  }

  #section1 h2 {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  .card {
    width: 23%;
  }

  #cards {
    row-gap: 40px;
    column-gap: 15px;
  }

  .card-title {
    font-size: 15px;
    font-weight: 600;
  }

  #card-border {
    height: 180px;
  }

  #section2 {
    padding: 30px 10px;
  }

  #section2 h2 {
    font-size: 30px;
    font-weight: 600;
  }

  span a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
  }

  .books {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
  }

  #book {
    padding: 0px 10px;
  }

  .book-image img {
    width: 140px;
    height: 200px;
    margin: 0px 10px;
  }

  #book h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  #section3 {
    padding: 30px 20px;

  }

  #section3 h2 {
    font-size: 30px;
    font-weight: 600;
  }

  span a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
  }


  .books-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }


  .book2-image img {
    width: 140px;
    height: 180px;
    margin: 0px 15px;
  }

  #book2 h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }


  .Section4 {
    background-color: #F06D82;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 30px 30px;
    gap: 10px;

  }

  .text {
    width: 140%;
    color: white;
  }

  .text h6 {
    font-size: 26px;
    font-weight: 600;
  }

  .Section4 img {
    width: 35%;
  }

  #section5 {
    padding: 30px 40px;
  }

  #section5 h2 {
    font-size: 30px;
    font-weight: 600;
  }

  span a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
  }

  .bookstores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

  }

  .store-image img {
    width: 130px;
    height: 180px;
    margin: 10px;
  }

  #bookstore {
    background-color: #f4f3f3;
    padding: 10px 10px;
  }

  #bookstore h4 {
    font-size: 20px;
    font-weight: 600;
  }

  #bookstore p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
  }

  #bookstore h6 {
    font-size: 15px;
    font-weight: 600;
  }

  #bookstore a {
    text-decoration: none;
    margin-left: 30%;
    font-size: 20px;
    font-weight: 500;
  }

  .footer-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px 100px;
    line-height: 1.5;
  }

  .side1 h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
  }

  .side1 ul li a {
    list-style: none;
    font-size: 15px;
    font-weight: 400;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  .side1 a {
    text-decoration: none;
    color: white;
  }

  .side1 img {
    width: 30%;
  }

  .foot {
    padding: 20px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .foot p {
    font-size: 16px;
    font-weight: 400;
    color: white;
  }

  .foot img {
    width: 9%;
  }

}